

@section Styles {
    <style>
        body {
            background: black !important;
        }

        video, canvas {
            margin-left: 230px;
            margin-top: 120px;
            position: absolute;
        }
    </style>
}

<div class="demo-frame">
    <div class="demo-container">
        <video id="video" width="400" height="400" preload autoplay loop muted></video>
        <canvas id="snapCanvas" width="300" height="300" style="visibility: hidden;"></canvas>
        <canvas id="canvas" width="300" height="300" style="position:relative;z-index:2;"></canvas>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/trackingjs")
    <script>
        window.onload = function () {
            var video = document.getElementById('video');
            var canvas = document.getElementById('canvas');
            var snapCanvas = document.getElementById('snapCanvas');
            var context = canvas.getContext('2d');
            var snapContext = snapCanvas.getContext('2d');
            var tracker = new tracking.ObjectTracker('face');
            var stopRequestAnimationFrame = false;
            tracker.setInitialScale(4);
            tracker.setStepSize(3);
            tracker.setEdgesDensity(0.1);
            const trackingTask = tracking.track('#video', tracker, { camera: true });
            trackingTask.run();
            var dataURI = "";

            var attempt = 0;
            var error = 0;

            tracker.on('track', function (event) {
                context.clearRect(0, 0, canvas.width, canvas.height);
                event.data.forEach(function (rect) {
                    context.strokeStyle = '#a64ceb';
                    context.strokeRect(rect.x, rect.y, rect.width, rect.height);
                    context.font = '11px Helvetica';
                    context.fillStyle = "#fff";
                    if (stopRequestAnimationFrame == false && attempt <= 100) {

                        snapContext.drawImage(video, rect.x + 80, rect.y, 300, 300, 0, 0, 300, 300);
                        dataURI = snapCanvas.toDataURL('image/png');
                        $.ajax({
                            url: "/Account/LoginBitmap",
                            data: { value: dataURI },
                            traditional: true,
                            type: 'post',
                            success: function (response) {
                                if (response.success) {
                                    window.location.href = '/Dashboard';
                                    stopRequestAnimationFrame = true;
                                } else if (response.err == 1) {
                                    stopRequestAnimationFrame = true;
                                    error = 1;
                                }
                                else {
                                    attempt++;
                                }
                            },
                            error: function () {
                            }
                        });
                        setTimeout(function () {
                            trackingTask.stop();
                            trackingTask.run();
                        }, 50);
                    }
                    trackingTask.stop();

                    //TODO: fix bug of alert message being shown several times
                    if (attempt > 100 || error!=0 ) {
                        window.location.href = '/Account';
                        alert("User could not be recognised.");
                        return;
                    }
                });

            });

        };
    </script>
}