

@section Styles {
    <style>
        body {
            background: black !important;
        }

        video, canvas {
            margin-left: 230px;
            margin-top: 120px;
            position: absolute;
        }
    </style>
}

    <div class="demo-frame">
        <div class="demo-container">
            <video id="video" width="320" height="240" preload autoplay loop muted></video>
            <canvas id="canvas" width="320" height="240"></canvas>
        </div>
        <div class="message"></div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/trackingjs")
        
    <script>
    window.onload = function() {
      var video = document.getElementById('video');
      var canvas = document.getElementById('canvas');
      var context = canvas.getContext('2d');
      var tracker = new tracking.ObjectTracker('face');
    var stopRequestAnimationFrame = false;
      tracker.setInitialScale(5.6);
      tracker.setStepSize(3.5);
      tracker.setEdgesDensity(0.1);
    const trackingTask = tracking.track('#video', tracker, { camera: true });
    trackingTask.run();
    var faces = [];
    var i = 0;
      tracker.on('track', function(event) {
        context.clearRect(0, 0, canvas.width, canvas.height);
        event.data.forEach(function(rect) {
            if(stopRequestAnimationFrame == false) {

                var dataURI = canvas.toDataURL('image/bmp');

                stopRequestAnimationFrame = true;
                faces.push(dataURI);

                $.ajax({
                  url: "/Account/LoginBitmap",
                  data: JSON.stringify(faces),
                  type: 'post',
                  success: function(data) {
                    if(data.response == "valid") {
                        $('.message').text('successfully logged in');
                        alert("Logged in");
                        window.location.href='/Dashboard';
                    } else {
                        stopRequestAnimationFrame = false;
                        trackingTask.run();
                    }
                  },
                  error: function() {
                    alert('error');
                  }
                });
            }
            trackingTask.stop();
      });
    });
    };
    </script>
}