@using WebApp.Models
@{
    ViewBag.Title = "Add a publisher";
}
<div class="col-md-12">
    <form class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Publisher name</label>
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Country</label>
                                <select name="country" id="select-countries" class="form-control custom-select">
                                    <option value="lt" data-data='{"image": "/Content/images/flags/lt.svg"}' selected>Lithuania</option>
                                    <option value="lv" data-data='{"image": "/Content/images/flags/lv.svg"}'>Latvia</option>
                                    <option value="pl" data-data='{"image": "/Content/images/flags/pl.svg"}'>Poland</option>
                                    <option value="de" data-data='{"image": "/Content/images/flags/de.svg"}'>Germany</option>
                                    <option value="br" data-data='{"image": "/Content/images/flags/br.svg"}'>Brazil</option>
                                    <option value="cz" data-data='{"image": "/Content/images/flags/cz.svg"}'>Czech Republic</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Website</label>
                                <input type="text" class="form-control" placeholder="https://">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group mb-0">
                                <label class="form-label">Description</label>
                                <textarea rows="5" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>