@using WebApp.Models
@{
    ViewBag.Title = "Authors";
}

@model System.Data.DataTable
@using System.Data;

<div class="col-12">
    <div class="card">
        <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap">
                <thead>
                    <tr>
                        <th>ID</th>
                        @foreach (DataColumn col in Model.Columns)
                        {
                            if (col.ColumnName != "ID")
                            {
                                <th scope="col">@col.ColumnName</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                        @foreach (DataRow row in Model.Rows)
                        { 
                            <tr>
                                <td>@row["ID"]</td>
                            @foreach (DataColumn col in Model.Columns)
                            {
                                if (col.ColumnName != "ID")
                                {
                                <td>@row[col.ColumnName]</td>
                                }
                            }
                            </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>
</div>
