@using WebApp.Models
@{
    ViewBag.Title = "Books";
}

@model System.Data.DataTable
@using System.Data;

<div class="col-12">
    <div class="card">
        <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap">
                <thead>
                    <tr>
                        @foreach (DataColumn col in Model.Columns)
                        {
                            <th scope="col">@col.ColumnName</th>
                        }
                        <th scope="col">Update</th>
                </thead>
                <tbody>
                        @foreach (DataRow row in Model.Rows)
                        {
                            <tr>
                            @foreach (DataColumn col in Model.Columns)
                            {
                                <td>@row[col.ColumnName]</td>
                            }
                            <td class="text-right">
                                <div class="dropdown">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">Actions</button>
                                </div>
                            </td>
                            </tr>
                        }

                </tbody>
</table>
        </div>
    </div>
</div>
