@using WebApp.Models
@{
    ViewBag.Title = "Publishers";
}

@model System.Data.DataTable
@using System.Data;

<div class="col-12">
    <div class="card">
        <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap">
                <thead>
                    <tr>
                        <th>ID</th>
                        @foreach (DataColumn col in Model.Columns)
                        {
                            if (col.ColumnName != "ID")
                            {
                                <th scope="col">@col.ColumnName</th>
                            }
                        }
                        <th scope="col">Update</th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (DataRow row in Model.Rows)
                        { 
                            <tr>
                                <td>@row["ID"]</td>
                            @foreach (DataColumn col in Model.Columns)
                            {
                                if (col.ColumnName != "ID")
                                {
                                <td>@row[col.ColumnName]</td>
                                }
                            }
                                <td class="text-right">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">Actions</button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="/Admin/RemovePublisher?PublisherId=2" class="dropdown-item"><i class="dropdown-icon fa fa-times"></i> Delete </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>
</div>
