@{
    ViewBag.Title = "Return a book";
    ViewBag.PageTitle = "Return a book";
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Author</th>
            <th scope="col">Title</th>
            <th scope="col">Taken</th>
            <th scope="col">Returned</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Larry the Bird</td>
            <td>Mark</td>
            <td>2018-10-05</td>
            <td>2018-11-05</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Larry the Bird</td>
            <td>2018-10-05</td>
            <td>2018-11-05</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>Jacob</td>
            <td>2018-10-05</td>
            <td>2018-11-05</td>
        </tr>
    </tbody>
</table>