@{
    ViewBag.Title = "Return a book";
    ViewBag.PageTitle = "Return a book";
}

<div class="col-md-12 text-center">
    <h3>Scan QR code to return a book</h3>
    <video style="width:300px;" id="previewReturn"></video>
</div>

@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>

    <script type="text/javascript">
        var app = new Vue({
  el: '#app',
  data: {
    scanner: null,
    activeCameraId: null,
    cameras: [],
    scans: []
  },
  mounted: function () {
    var self = this;
    self.scanner = new Instascan.Scanner({ video: document.getElementById('previewReturn'), scanPeriod: 3 });
    self.scanner.addListener('scan', function (content, image) {
        $.ajax({
            url: "/Dashboard/ReturnQR",
            data: { value: content },
            traditional: true,
            type: 'post',
            success: function (response) {
                if (response.success) {
                    alert("OK!");
                } else
                    alert("Return failed!");
            },
            error: function () {
                alert("Could not recognize a given QR code.");
            }
        });
    });
    Instascan.Camera.getCameras().then(function (cameras) {
      self.cameras = cameras;
      if (cameras.length > 0) {
        self.activeCameraId = cameras[0].id;
        self.scanner.start(cameras[0]);
      } else {
        console.error('No cameras found.');
      }
    }).catch(function (e) {
      console.error(e);
    });
  },
  methods: {
    formatName: function (name) {
      return name || '(unknown)';
    },
    selectCamera: function (camera) {
      this.activeCameraId = camera.id;
      this.scanner.start(camera);
    }
  }
});
    </script>
}